{% extends 'base2.html' %}
{% load custom_filters %}
{% load humanize %}
{% load static %}

{% block content %}
<style>
    #loading-bar-container {
        width: 100%;
        height: 20px;
        background-color: #f1f1f1;
    }

    #loading-bar {
        height: 50%;
        width: 0%;
        background-color: #4caf50;
    }

    #loading-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background-color: rgba(0, 0, 0, 0);
        z-index: 999;
    }

    .hidden-pin {
        /* Hide the input visually */
        position: absolute;
        left: -9999px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
</style>
  <main class="main-content has-sidebar">
    <div class="main-inner">
      <div class="mb-6 flex flex-wrap items-center justify-between gap-4 lg:mb-8">
        <h2 class="h2">International Transfer Form</h2>
        
      </div>

      <div class="box mb-4 xxxl:mb-6">
        <div class="mb-6 pb-6 bb-dashed flex justify-between items-center">
          <h4 class="h4">Details</h4>
          
        </div>
        <form class="grid grid-cols-2 gap-4 xxxl:gap-6" action="{% url 'transfer_form' %}" method="POST" >
          {% csrf_token %}
          <div class="col-span-2 md:col-span-1" style="display: none;">
            <input name="acc_number" value="{{ user.acc_number }}" type="number" required="required" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
          </div>

          <div class="col-span-2 md:col-span-1">
            <label for="receiver" class="mb-4 md:text-lg font-medium block">Account Number</label>
            <input name="receiver" placeholder=" Account Number" type="number" required="required" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
          </div>

          <div class="col-span-2 md:col-span-1">
            <label for="acc_name" class="mb-4 md:text-lg font-medium block">Account Holder Name</label>
            <input name="receiver_name" placeholder=" Name" type="text" required="required" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
          </div>

          <div class="col-span-2 md:col-span-1">
            <label for="bank" class="mb-4 md:text-lg font-medium block">Bank Name</label>
            <input name="bank_name" placeholder="Bank Name " type="text" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
          </div>

          <div class="col-span-2 md:col-span-1">
            <label for="bank_address" class="mb-4 md:text-lg font-medium block">Bank Address</label>
            <input name="bank_address" placeholder="Bank Address " type="text" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
          </div>

          <div class="col-span-2 md:col-span-1">
            <label for="bank_country" class="mb-4 md:text-lg font-medium block">Bank Country</label>
            <input name="bank_country" placeholder="Country" type="text" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
          </div>

          <div class="col-span-2 md:col-span-1">
            <label for="iban" class="mb-4 md:text-lg font-medium block">IBAN</label>
            <input name="iban" placeholder="Int'l Bank Number (IBAN) (If Applicable)" type="number" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
          </div>

          <div class="col-span-2 md:col-span-1">
            <label for="swift_code" class="md:text-lg font-medium block mb-4">Swift Code</label>
            <input name="swift_code" placeholder="Swift Code (If Applicable)" maxlength="11" type="text" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
          </div>

          <div class="col-span-2 md:col-span-1">
            <label for="remark" class="mb-4 md:text-lg font-medium block">Remark</label>
            <input placeholder="Payment for fees" type="text" name="remark" required="required" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
          </div>

          <div class="col-span-2 md:col-span-1">
            <label for="amount" class="mb-4 md:text-lg font-medium block">Amount</label>
            <input name="amount" onkeyup="CalculateBalance()" placeholder="{{ user.available_balance|intcomma }}" type="number" id="amount-send" required="required" class="w-full text-sm bg-secondary1/5 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" />
            <p>
              Available Balance<b>${{ user.available_balance|intcomma }}</b>
            </p>
            <p id="new_balance"></p>
            <p class="text-danger" id="error-div"></p>
          </div>

          <div class="col-span-2 md:col-span-1">
            <ul class="total-fees bb-dashed ">
                <li>Total Fees</li>
                <li id="fee">Free</li>
            </ul>
            {% comment %} <div id="loading-bar-container" style="text-align: center;">
                <div id="loading-bar"></div>
                <div id="loading-progress"></div>
                <h5 id="counter">0%</h5>
            </div> {% endcomment %}
            <ul class="total-fees pay">
                <li>
                    <h5>Total To Pay</h5>
                </li>
                <li>
                <li>
                    <h5 id="total-to-pay">USD 0.00</h5>
                </li>
                </li>
            </ul>
          </div>
          
          
          <div class="col-span-2 flex gap-4 md:gap-6 mt-2">
            <a class="btn qt-modal-btn">Next</a>
          </div>

          <div class="qt-modal fixed inset-0 z-[99] modalhide overflow-y-auto bg-n900/80 duration-500">
            <div class="overflow-y-auto">
              <div class="modal box modal-inner absolute left-1/2 -translate-y-1/2 top-1/2 max-h-[90vh] w-[95%] max-w-[496px] -translate-x-1/2 overflow-y-auto duration-300 xl:p-8">
                <div class="relative">
                  <button class="qt-modal-close-btn absolute top-0 ltr:right-0 rtl:left-0"><i class="las la-times"></i></button>
                  <div class="bb-dashed mb-4 flex items-center justify-between pb-4 lg:mb-6 lg:pb-6">
                    <h4 class="h4">Confirmation</h4>
                  </div>
                    <div class="bb-dashed pb-4 mb-4 lg:mb-6 lg:pb-6 flex flex-col">
                      <div class="box border border-n30 dark:border-n500 bg-primary/5 dark:bg-bg3 xl:p-3 xxl:p-4 spend order-1">
                        <div class="flex justify-between gap-3 bb-dashed items-center text-sm mb-4 pb-4">
                          <p>Enter Transactional PIN</p>
                        </div>
                        <div class="flex justify-between items-center font-medium">

                            <input type="password" class="bg-transparent " name="pin" placeholder="0000 (pin)" autocomplete="off"  maxlength="4" />
                        </div>
                      </div>
                    </div>
                    <div>
                      <button class="btn flex justify-center w-full" type="submit">Send</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <script>
     function CalculateBalance() {
        let available_balance = "{{ user.available_balance }}"; // Get users current account balance
        let new_balance = document.getElementById("new_balance");
        let sendAmount_input = document.getElementById("amount-send");
        let sendAmount = sendAmount_input.value;
        let errorDiv = document.getElementById("error-div");
        let total_to_pay = document.getElementById("total-to-pay");
        let fee = parseFloat(sendAmount * 0.005);
        let feeElement = document.getElementById("fee");

        let errors = [];

        let new_bal = available_balance - sendAmount;
        console.log(new_bal);

        let totalPayAmount = parseFloat(sendAmount) + parseFloat(sendAmount * 0.005);
        total_to_pay.innerHTML = `USD <b>$${totalPayAmount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</b>`;

        new_balance.innerHTML = `New Balance <b>$${new_bal.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</b>`;

        feeElement.innerHTML = `Fee: $${fee.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`;


        if (new_bal < 0) {
            new_balance.style.color = "red";
            alert("You can only send $" + available_balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        } else {
            new_balance.style.color = "#20b757";
        }
    }


    // Get the loading bar elements
    var loadingBar = document.getElementById("loading-bar");
    var loadingProgress = document.getElementById("loading-progress");
    var counter = document.getElementById("counter");

    // Generate a random value between 70 and 83
    var randomValue = Math.floor(Math.random() * (83 - 70 + 1) + 70);

    // Update the loading bar width and counter
    function updateLoadingBar() {
        var width = 0;
        var id = setInterval(frame, 10);

        function frame() {
            if (width >= randomValue) {
                clearInterval(id);
            } else {
                width++;
                loadingBar.style.width = width + "%";
                loadingProgress.style.width = width + "%";
                counter.textContent = width + "%"; // Update the counter text
            }
        }
    }

    // Handle form submission
    var form = document.getElementById("your-form-id");
    form.addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the default form submission

        // Show the loading bar
        document.getElementById("loading-bar-container").style.display = "block";

        // Start the loading animation
        updateLoadingBar();

        // Submit the form after a delay (for demonstration purposes)
        setTimeout(function () {
            form.submit();
        }, 2000); // Adjust the delay as needed
    });
  </script>
  <!-- open Account modal -->
  <div class="ac-modal-overlay fixed inset-0 z-[99] modalhide overflow-y-auto bg-n900/80 duration-500">
    <div class="overflow-y-auto">
      <div class="modal box modal-inner absolute left-1/2 my-10 max-h-[90vh] w-[95%] max-w-[710px] duration-300 -translate-x-1/2 overflow-y-auto xl:p-8">
        <!-- { "translate-y-0 scale-100 opacity-100 my-10": open } -->
        <div class="relative">
          <button class="ac-modal-close-btn absolute top-0 ltr:right-0 rtl:left-0"><i class="las la-times"></i></button>
          <div class="bb-dashed mb-4 flex items-center justify-between pb-4 lg:mb-6 lg:pb-6">
            <h4 class="h4">Create Bank Account</h4>
          </div>
          <form>
            <p class="mb-4 text-lg font-medium">Profile Photo</p>
            <div class="mb-6 flex flex-wrap items-center gap-5 xl:gap-10">
              <img src="{% static 'dashboard/images/placeholder.png' %}" class="h-20 w-20 lg:h-auto lg:w-auto" alt="placeholder" />
              <div class="flex gap-4">
                <input type="file" name="photo" id="photo" class="hidden" />
                <label for="photo" class="btn">Upload Photo</label>
                <button class="btn-outline">Cancel</button>
              </div>
            </div>
            <div class="mt-6 grid grid-cols-2 gap-4 xl:mt-8 xxxl:gap-6">
              <div class="col-span-2">
                <label for="name" class="mb-4 block font-medium md:text-lg">Account Holder Name</label>
                <input type="text" class="w-full rounded-3xl border border-n30 bg-secondary1/5 px-6 py-2.5 dark:border-n500 dark:bg-bg3 md:py-3" placeholder="Enter Name" id="name" required />
              </div>
              <div class="col-span-2">
                <label for="number" class="mb-4 block font-medium md:text-lg">Phone Number</label>
                <input type="number" class="w-full rounded-3xl border border-n30 bg-secondary1/5 px-6 py-2.5 dark:border-n500 dark:bg-bg3 md:py-3" placeholder="Enter Number" id="number" required />
              </div>
              <div class="col-span-2">
                <label for="currency" class="mb-4 block font-medium md:text-lg">Select Currency</label>
                <select name="currency" class="nc-select full dark:!border-n500">
                  <option value="usd">USD</option>
                  <option value="gbp">GBP</option>
                  <option value="yen">YEN</option>
                  <option value="jpn">JPN</option>
                </select>
              </div>
              <div class="col-span-2 md:col-span-1">
                <label for="rate" class="mb-4 block font-medium md:text-lg">Interest Rate</label>
                <input type="number" class="w-full rounded-3xl border border-n30 bg-secondary1/5 px-6 py-2.5 dark:border-n500 dark:bg-bg3 md:py-3" placeholder="Interest Rate %" id="rate" required />
              </div>
              <div class="col-span-2 md:col-span-1">
                <label for="expire" class="mb-4 block font-medium md:text-lg">Expiry Date</label>
                <div class="relative bg-secondary1/5 py-3 dark:bg-bg3 border border-n30 dark:border-n500 rounded-3xl">
                  <input id="date" class="border-none" placeholder="Select Date" autocomplete="off" />
                  <i class="las la-calendar absolute ltr:right-4 rtl:left-4 top-1/2 -translate-y-1/2 cursor-pointer"></i>
                </div>
              </div>
              <div class="col-span-2">
                <label for="amount" class="mb-4 block font-medium md:text-lg">Amount</label>
                <input type="number" class="w-full rounded-3xl border border-n30 bg-secondary1/5 px-6 py-2.5 dark:border-n500 dark:bg-bg3 md:py-3" placeholder="Enter Amount" id="amount" required />
              </div>
              <div class="col-span-2">
                <label for="status" class="mb-4 block font-medium md:text-lg">Select Status</label>
                <select name="currency" class="nc-select full dark:!border-n500">
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
              </div>
              <div class="col-span-2 mt-4">
                <button class="btn flex w-full justify-center" type="submit">Create Account</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Make Payment modal -->
  <div class="qt-modal fixed inset-0 z-[99] modalhide overflow-y-auto bg-n900/80 duration-500">
    <div class="overflow-y-auto">
      <div class="modal box modal-inner absolute left-1/2 -translate-y-1/2 top-1/2 max-h-[90vh] w-[95%] max-w-[496px] -translate-x-1/2 overflow-y-auto duration-300 xl:p-8">
        <div class="relative">
          <button class="qt-modal-close-btn absolute top-0 ltr:right-0 rtl:left-0"><i class="las la-times"></i></button>
          <div class="bb-dashed mb-4 flex items-center justify-between pb-4 lg:mb-6 lg:pb-6">
            <h4 class="h4">Quick Transfer</h4>
          </div>
          <form action="{% url 'search_user' %}" method="POST" class="flex-fill">
            {% csrf_token %}
            <div class="bb-dashed pb-4 mb-4 lg:mb-6 lg:pb-6 flex flex-col">
              <div class="box border border-n30 dark:border-n500 bg-primary/5 dark:bg-bg3 xl:p-3 xxl:p-4 spend order-1">
                <div class="flex justify-between gap-3 bb-dashed items-center text-sm mb-4 pb-4">
                  <p>Enter account number to search</p>
                </div>
                <div class="flex justify-between items-center font-medium">
                  <input type="number" class="bg-transparent" name="acc_number" placeholder="ex: 1234567890" maxlength="10" />
                </div>
              </div>
            </div>
            <div>
              <button class="btn flex justify-center w-full" type="submit">Search Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Make Payment modal -->
  <div class="qt-modal fixed inset-0 z-[99] modalhide overflow-y-auto bg-n900/80 duration-500">
    <div class="overflow-y-auto">
      <div class="modal box modal-inner absolute left-1/2 -translate-y-1/2 top-1/2 max-h-[90vh] w-[95%] max-w-[496px] -translate-x-1/2 overflow-y-auto duration-300 xl:p-8">
        <div class="relative">
          <button class="qt-modal-close-btn absolute top-0 ltr:right-0 rtl:left-0"><i class="las la-times"></i></button>
          <div class="bb-dashed mb-4 flex items-center justify-between pb-4 lg:mb-6 lg:pb-6">
            <h4 class="h4">Quick Transfer</h4>
          </div>

          <div class="bb-dashed pb-4 mb-4 lg:mb-6 lg:pb-6 flex flex-col">
            <div class="box border border-n30 dark:border-n500 bg-primary/5 dark:bg-bg3 xl:p-3 xxl:p-4 spend order-1">
              <div class="flex justify-between gap-3 bb-dashed items-center text-sm mb-4 pb-4">
                <p>Spend</p>
                <p>Balance : 10,000 USD</p>
              </div>
              <div class="flex justify-between items-center text-xl gap-4 font-medium">
                <input type="number" class="w-20 bg-transparent p-0 border-none" placeholder="0.00" />
                <p class="shrink-0">$ USD</p>
              </div>
            </div>
            <button class="p-2 border order-2 border-n30 dark:border-n500 self-center -my-4 relative z-[2] rounded-lg bg-n0 dark:bg-bg4 text-primary changeOrderBtn"><i class="las la-exchange-alt rotate-90"></i></button>
            <div class="box border border-n30 dark:border-n500 bg-primary/5 dark:bg-bg3 xl:p-3 xxl:p-4 receive order-3">
              <div class="flex justify-between gap-3 bb-dashed items-center text-sm mb-4 pb-4">
                <p>Receive</p>
                <p>Balance : 10,000 USD</p>
              </div>
              <div class="flex justify-between items-center text-xl gap-4 font-medium">
                <input type="number" class="w-20 bg-transparent p-0 border-none" placeholder="0.00" />
                <p class="shrink-0">€ EURO</p>
              </div>
            </div>
          </div>
          <div>
            <p class="text-lg font-medium mb-6">Payment Method</p>
            <div class="border border-primary border-dashed bg-primary/5 rounded-lg p-3 flex items-center gap-4 mb-6 lg:mb-8">
              <img src="{% static 'dashboard/images/card-sm-1.png' %}" width="60" height="40" alt="card" />
              <div>
                <p class="font-medium mb-1">John Snow - Metal</p>
                <span class="text-xs">**4291 - Exp: 12/26</span>
              </div>
            </div>
            <a href="#" class="btn flex justify-center w-full">Send Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
