{% load static %}

<!DOCTYPE html>
<html class="no-js theme-dark" lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon_finto.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/scrollCue.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <title>Truist Mircofinance Bank - Fintech, Banking, & Finance </title>
    <meta name="description" content="Truist Mircofinance Bank - At Truist Mircofinance Bank, we are known for our unwavering commitment to trust, honesty, and exceptional customer support. We believe in serving our customers with integrity and dedication.">

    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">

    <!-- Alertify CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Alertify Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- END CSS STYLES -->

   <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'f560fe88cafb27a6e772d721d2db27cac0d6348d';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    {% comment %} <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript> {% endcomment %}
</head>

<body>
  
    <div class="preloader-area text-center position-fixed top-0 bottom-0 start-0 end-0" id="preloader">
        <div class="loader position-absolute start-0 end-0">
            <div class="wavy position-relative fw-light">
                <span class="d-inline-block"><img src="{% static 'assets/images/favicon.png' %}" alt="favicon"></span>
                <span class="d-inline-block">T</span>
                <span class="d-inline-block">M</span>
                <span class="d-inline-block">B</span>
                <span class="d-inline-block">a</span>
                <span class="d-inline-block">n</span>
                <span class="d-inline-block">k</span>
            </div>
        </div>
    </div>


    {% block navbar %}
    
    {% include 'includes/navbar.html' %}
    {% endblock navbar %}

    {% block content %}

    {% endblock content %}


    {% block footer %}
    {% include 'includes/footer.html' %}
    
    {% endblock footer %}




    </div>
    <!-- Alertify JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        {% if messages %}
        {% for message in messages %}
        alertify.set('notifier','position', 'top-right');
        {% if message.tags %}
        alertify.{{ message.tags }}('{{ message }}');
        {% endif %}
        {% endfor %}

        {% endif %}
    </script>
    
    
    {% comment %} <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> {% endcomment %}
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/fslightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/smooth-scroll.js' %}"></script>
    <script src="{% static 'assets/js/scrollCue.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>