{% extends 'base3.html' %}
{% load static %}

{% block content %}

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
    <!-- /.sticky-header__content -->
</div>
<!-- /.stricky-header -->

<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url({% static 'assets_2/images/backgrounds/breadcrumb-area-bg-5.jpg' %});"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
                        <h2>Our Cards</h2>
                    </div>
                    <div class="breadcrumb-menu" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active">Our Cards</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Card Banner Area-->
<section class="card-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="card-banner-content">
                    <div class="card-banner-content-bg" style="background-image: url({% static 'assets_2/images/shapes/card-banner-area-bg.png' %});">
                    </div>
                    <div class="card-banner-content-img-box">
                        <img src="{% static 'assets_2/images/resources/card-banner-img-1.png' %}" alt="">
                    </div>
                    <div class="inner-title">
                        <h4>Corporate Credit Card</h4>
                        <h2>Higher Efficiencies &<br> Savings</h2>
                    </div>
                    <div class="text">
                        <p>Low interest credit card for all your needs.</p>
                    </div>
                    <div class="btns-box">
                        <a class="btn-one" href="#">
                            <span class="txt">Apply Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Card Banner Area-->

<!--Start Cards Area-->
<section class="cards-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-3">
                <div class="sidebar-box-style1">
                    <!--Start Single Sidebar Box Style1-->
                    <div class="single-sidebar-box-style1 margintop">
                        <div class="sidebar-title">
                            <div class="dot-box"></div>
                            <h3>Card Types</h3>
                        </div>
                        <div class="card-types-box">
                            <ul>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Cashback</a></li>
                                <li><a href="#">Low Interest</a></li>
                                <li><a href="#">Rewards</a></li>
                                <li><a href="#">Secured</a></li>
                                <li><a href="#">Travel & Hotel</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Sidebar Box Style1-->
                </div>
            </div>

            <div class="col-xl-9">
                <div class="cards-content-box">

                    <div class="cards-content-box-top">
                        <div class="left-box">
                            <h2>Best Cards for Your Needs</h2>
                        </div>
                        <div class="right-box">
                            <div class="short-by">
                                <div class="select-box">
                                    <select class="wide">
                                        <option data-display="Default Sorting">Default Sorting</option>
                                        <option value="1">Popularity</option>
                                        <option value="2">Popularity</option>
                                        <option value="3">Popularity</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Start Single Card Box-->
                    <div class="single-card-box">
                        <div class="category-box">Rewards</div>
                        <div class="cards-img-box">
                            <div class="inner-title">
                                <h3>Platinum Credit Card</h3>
                            </div>
                            <div class="inner">
                                <img src="{% static 'assets_2/images/resources/card-1.jpg' %}" alt="">
                            </div>
                            <div class="btn-box">
                                <a class="btn-one style2" href="{% url 'contact' %}">
                                    <span class="txt">Apply Now</span>
                                </a>
                                <a class="btn-one" href="#">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="cards-text-box">
                            <p>Elevate your lifestyle with the ultimate in premium benefits and rewards - the Platinum Credit Card from Meta Global Bank. </p>
                            <h3>Features & Benefits</h3>
                            <ul>
                                <li>Zero Joining and Annual Fees</li>
                                <li>2% Fuel Surcharge waiver at HPCL Petrol Pumps</li>
                                <li>Multi Rewards & Lifestyle Benefits</li>
                                <li>5X TAT Miles on Travel</li>
                            </ul>
                            <div class="compare-box">
                                <div class="checked-box1">
                                    <input type="checkbox" name="card" id="card1" checked="">
                                    <label for="card1"><span></span>Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Card Box-->
                    <!--Start Single Card Box-->
                    <div class="single-card-box">
                        <div class="category-box">Cashback</div>
                        <div class="cards-img-box">
                            <div class="inner-title">
                                <h3>Millinnia Credit Card</h3>
                            </div>
                            <div class="inner">
                                <img src="{% static 'assets_2/images/resources/card-2.jpg' %}" alt="">
                            </div>
                            <div class="btn-box">
                                <a class="btn-one style2" href="{% url 'contact' %}">
                                    <span class="txt">Apply Now</span>
                                </a>
                                <a class="btn-one" href="#">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="cards-text-box">
                            <p>Experience a world of rewards and benefits with the Meta Global Bank Millinnia Credit Card - the perfect companion for your everyday spending.</p>
                            <h3>Features & Benefits</h3>
                            <ul>
                                <li>Welcome vouchers worth Rs. 2000+</li>
                                <li>1% Fuel Surcharge waiver at HPCL Petrol Pumps</li>
                                <li>Lifestyle Benefits</li>
                                <li>Access to 1000+ global airport lounges</li>
                            </ul>
                            <div class="compare-box">
                                <div class="checked-box1">
                                    <input type="checkbox" name="card" id="card2">
                                    <label for="card2"><span></span>Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Card Box-->

                    <!--Start Single Card Box-->
                    <div class="single-card-box">
                        <div class="category-box">Rewards</div>
                        <div class="cards-img-box">
                            <div class="inner-title">
                                <h3>Money Back Credit Card</h3>
                            </div>
                            <div class="inner">
                                <img src="{% static 'assets_2/images/resources/card-3.jpg' %}" alt="">
                            </div>
                            <div class="btn-box">
                                <a class="btn-one style2" href="{% url 'contact' %}">
                                    <span class="txt">Apply Now</span>
                                </a>
                                <a class="btn-one" href="#">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="cards-text-box">
                            <p>Get rewarded for your spending with the Meta Global Bank Money Back Credit Card - earn cashback on every purchase. </p>
                            <h3>Features & Benefits</h3>
                            <ul>
                                <li>Zero Joining and Annual Fees</li>
                                <li>2% Fuel Surcharge waiver at HPCL Petrol Pumps</li>
                                <li>Multi Rewards & Lifestyle Benefits</li>
                                <li>5X TAT Miles on Travel</li>
                            </ul>
                            <div class="compare-box">
                                <div class="checked-box1">
                                    <input type="checkbox" name="card" id="card3">
                                    <label for="card3"><span></span>Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Card Box-->
                    <!--Start Single Card Box-->
                    <div class="single-card-box">
                        <div class="category-box">Cashback</div>
                        <div class="cards-img-box">
                            <div class="inner-title">
                                <h3>Easy EMI Credit Card</h3>
                            </div>
                            <div class="inner">
                                <img src="{% static 'assets_2/images/resources/card-4.jpg' %}" alt="">
                            </div>
                            <div class="btn-box">
                                <a class="btn-one style2" href="{% url 'contact' %}">
                                    <span class="txt">Apply Now</span>
                                </a>
                                <a class="btn-one" href="#">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="cards-text-box">
                            <p>Get the flexibility you need with easy EMI options and competitive rates with the Meta Global Bank Easy EMI Credit Card.</p>
                            <h3>Features & Benefits</h3>
                            <ul>
                                <li>Welcome vouchers worth Rs. 2000+</li>
                                <li>1% Fuel Surcharge waiver at HPCL Petrol Pumps</li>
                                <li>Lifestyle Benefits</li>
                                <li>Access to 1000+ global airport lounges</li>
                            </ul>
                            <div class="compare-box">
                                <div class="checked-box1">
                                    <input type="checkbox" name="card" id="card4">
                                    <label for="card4"><span></span>Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Card Box-->

                    <!--Start Single Card Box-->
                    <div class="single-card-box">
                        <div class="category-box">Rewards</div>
                        <div class="cards-img-box">
                            <div class="inner-title">
                                <h3>Diners Club Privilege Card</h3>
                            </div>
                            <div class="inner">
                                <img src="{% static 'assets_2/images/resources/card-5.jpg' %}" alt="">
                            </div>
                            <div class="btn-box">
                                <a class="btn-one style2" href="{% url 'contact' %}">
                                    <span class="txt">Apply Now</span>
                                </a>
                                <a class="btn-one" href="#">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="cards-text-box">
                            <p>Experience the ultimate in luxury and convenience with the Diners Club Privilege Card, exclusively from Meta Global Bank.</p>
                            <h3>Features & Benefits</h3>
                            <ul>
                                <li>Zero Joining and Annual Fees</li>
                                <li>2% Fuel Surcharge waiver at HPCL Petrol Pumps</li>
                                <li>Multi Rewards & Lifestyle Benefits</li>
                                <li>5X TAT Miles on Travel</li>
                            </ul>
                            <div class="compare-box">
                                <div class="checked-box1">
                                    <input type="checkbox" name="card" id="card5">
                                    <label for="card5"><span></span>Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Card Box-->

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Cards Area-->

{% endblock content %}